* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 20px 0;
    background-color: #1f2937;
    color: #f8faf9;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h1 {
    font-size: 24px;
}

.header-link {
    list-style: none;
    display: flex;
}

.header-link li {
    margin-left: 20px;
}

.header-link a {
    color: #f8faf9;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #1f2937;
}

.hero-text {
    max-width: 50%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #f8faf9;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}